<div class="next-dose-group">
    <div id="search-table" class="offset-sm-1 col-sm-11 p-0">
        <table mat-table [dataSource]="dataSource" class="col-sm-11 offset-sm-1">

            <ng-container matColumnDef="doseType">
                <th mat-header-cell *matHeaderCellDef> Tipo de Dose </th>
                <td mat-cell *matCellDef="let element"> {{element.doseType}} </td>
            </ng-container>

            <ng-container matColumnDef="doseRangeMonth">
                <th mat-header-cell *matHeaderCellDef> Intervalo por Mês </th>
                <td mat-cell *matCellDef="let element"> {{element.doseRangeMonth}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>