<div class="search-group">
    <div class="col-sm-11 p-0 d-flex">
        <mat-form-field class="search-form-field col-sm-10" appearance="outline">
            <mat-label>Digite a forma de pagamento</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button id="mat-search-button" mat-raised-button color="primary">Pesquisar</button>
    </div>
</div>

<div id="search-table">
    <mat-table [dataSource]="dataSource" class="col-sm-11">

        <ng-container matColumnDef="paymentForm">
            <mat-header-cell *matHeaderCellDef> Forma de pagamento </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.paymentForm }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="parcels">
            <mat-header-cell *matHeaderCellDef> Parcelas</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.parcels}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>