<div class="registration-group">
    <div id="search-table" class="offset-sm-1 col-sm-11 p-0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z3 col-sm-11 offset-sm-1">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef> Dia </th>
                <td mat-cell *matCellDef="let element"> {{element.day}} </td>
            </ng-container>

            <ng-container matColumnDef="initialHour">
                <th mat-header-cell *matHeaderCellDef> Hora Inicial </th>
                <td mat-cell *matCellDef="let element"> {{element.initialHour}} </td>
            </ng-container>

            <ng-container matColumnDef="finalHour">
                <th mat-header-cell *matHeaderCellDef> Hora Final </th>
                <td mat-cell *matCellDef="let element"> {{element.finalHour}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>
    </div>
</div>