#add-schedule-btn {
    z-index: 5;
    position: fixed;
    bottom: 10%;
    margin-bottom: 1rem;
    right: 8rem;
}

#search-table {
    display: flex;
    justify-content: center;
    overflow-x: initial;
    margin: 0.5rem;
    border: none
}

#day{
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}