#add-schedule-btn {
    z-index: 5;
    position: fixed;
    bottom: 10%;
    margin-bottom: 1rem;
    right: 8rem;
}

#search-table {
    display: flex;
    justify-content: center;
    overflow-x: initial;
    margin: 0.5rem;
    border: none
}

#day {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

:host ::ng-deep .mat-table {
    border-radius: 0.75rem !important;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 10%), 0px 3px 4px 0px rgb(0 0 0 / 10%), 0px 1px 8px 0px rgb(0 0 0 / 10%);
}