
#is-footer {
    color: #677788;
    padding: 0.5em 5.5rem;
    display: flex;
    justify-content: left;
    bottom: 0;
    height: 40px;
    width: 100%;
    transition: width 0.3s, margin 0.3s;
}

#is-footer .is-author {
    font-size: 10px;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.is-footer-grow {
    margin-left: -7rem;
}