<h2 mat-dialog-title>Telefone</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="personPhoneForm">
        <div class="div-row-input">
            <mat-form-field appearance="fill" class="col-sm-12">
                <mat-label>Tipo de Telefone</mat-label>
                <mat-select #PhoneTypeInput formControlName="phoneType" [(ngModel)]="phoneType" required>
                    <mat-option value="P">Principal</mat-option>
                    <mat-option value="C">Celular</mat-option>
                    <mat-option value="E">Comercial</mat-option>
                    <mat-option value="R">Residencial</mat-option>
                    <mat-option value="O">Outro</mat-option>
                </mat-select>
                <mat-error *ngIf="personPhoneForm.controls.phoneType.touched && personPhoneForm.controls.phoneType.invalid">
                    <span *ngIf="personPhoneForm.controls.phoneType.errors?.required">O Tipo de Telefone é obrigatório.</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="div-row-input">
            <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>Área</mat-label>
                <input matInput mask="00" #CodeAreaInput formControlName="codeArea" [(ngModel)]="codeArea"  maxlength="2" required>
                <mat-hint align="end">{{CodeAreaInput.value?.length || 0}}/2</mat-hint>
                <mat-error *ngIf="personPhoneForm.controls.codeArea.touched && personPhoneForm.controls.codeArea.invalid">
                    <span *ngIf="personPhoneForm.controls.codeArea.errors?.required">A Área é obrigatória.</span>
                    <span *ngIf="personPhoneForm.controls.codeArea.errors?.minlength">A Área deve ter no mínimo 2 caracteres.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>Telefone</mat-label>
                <input matInput mask="000000009" #NumberPhoneInput formControlName="numberPhone" [(ngModel)]="numberPhone" required>
                <mat-hint align="end">{{NumberPhoneInput.value?.length || 0}}/9</mat-hint>
                <mat-error *ngIf="personPhoneForm.controls.numberPhone.touched && personPhoneForm.controls.numberPhone.invalid">
                    <span *ngIf="personPhoneForm.controls.numberPhone.errors?.required">O Telefone é obrigatório.</span>
                    <span *ngIf="personPhoneForm.controls.numberPhone.errors?.minlength">O Telefone deve ter no mínimo 8 caracteres.</span>
                    <span *ngIf="personPhoneForm.controls.numberPhone.errors?.maxlength">O Telefone deve ter no máximo 9 caracteres.</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button class="create-button" cdkFocusInitial (click)="savePersonPhone()">Salvar</button>
</mat-dialog-actions>