<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <app-container containerTitle="Pessoas" containerPath="Cadastros / Pessoas">
            <mat-tab-group>
                <mat-tab label="Pesquisa">
                    <app-pessoas-pesquisa></app-pessoas-pesquisa>
                </mat-tab>
                <mat-tab label="Cadastro">
                    <app-pessoas-cadastro></app-pessoas-cadastro>
                </mat-tab>
                <mat-tab label="Complemento">
                    <app-pessoas-complemento></app-pessoas-complemento>
                </mat-tab>
                <mat-tab label="Telefones">
                    <app-pessoas-telefones></app-pessoas-telefones>
                </mat-tab>
                <mat-tab label="Endereços"> 
                    <app-pessoas-enderecos></app-pessoas-enderecos>
                </mat-tab>
            </mat-tab-group>
        </app-container>
    </div>
</div>