<form>
    <div class="registration-group">
        <div class="offset-sm-1 col-sm-11 p-0">

            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-11">
                    <mat-label>Forma de pagamento</mat-label>
                    <input matInput #input maxlength="10" placeholder="Ex. Cartão de Crédito" id="paymentForm"
                        required="true">
                </mat-form-field>
            </div>

            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-6">
                    <mat-label>Máximo de parcelas</mat-label>
                    <input type="number" matInput #input maxlength="10" id="parcels" required="true">
                </mat-form-field>
            </div>
            
            <div class="div-row-input registration-button-row">
                <button mat-raised-button class="create-button"><span class="fa-solid fa-floppy-disk me-1 w-20px"></span><span>Salvar</span></button>
                <button mat-raised-button color="warn"><span class="fa-solid fa-trash me-1 w-20px"></span><span>Excluir</span></button>
            </div>

        </div>
    </div>
</form>