<form>
    <div class="parameter-group">
        <div class="offset-sm-1 col-sm-11 p-0">
            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-6">
                    <mat-label>Tempo de Aplicação</mat-label>
                    <input type="number" matInput #input maxlength="2" placeholder="Ex. 10"
                        id="applicationTimePerMinute" required="true">
                    <span matSuffix>min</span>

                </mat-form-field>
            </div>

            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-6">
                    <mat-label>Validade do Orçamento</mat-label>
                    <input type="number" matInput #input maxlength="15" placeholder="Ex. 30"
                        id="maximumDaysBudgetValidity" required="true">
                    <span matSuffix>dias</span>
                </mat-form-field>
            </div>

            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-2">
                    <mat-label>Cor Horário Disponível</mat-label>
                    <input type="color" matInput #input placeholder="Ex. 30"
                        id="scheduleColor" required="true" value="#84d7b0">
                </mat-form-field>
            </div>

            <div class="div-row-input registration-button-row">
                <button mat-raised-button class="create-button"><span class="fa-solid fa-floppy-disk me-1 w-20px"></span><span>Salvar</span></button>
            </div>
        </div>
    </div>
</form>