<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <section id="center" class="section-main is-content mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4 is-card">
                        <div class="card-body text-center">
                            <img src="../../../assets/img/bg-profile-default.png" alt="avatar"
                                class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3 text-gray-800">John Doe</h5>
                            <p class="text-muted mb-1">john.doe@empresa.com</p>
                            <p class="text-muted mb-4">Desenvolvedor Full Stack</p>
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-primary" mat-raised-button (click)="openDialog()">Alterar Senha</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="card mb-4 is-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3 text-gray-800">
                                    <p class="mb-0">Empresa</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Empresa LTDA</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 text-gray-800">Nome Completo</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">John Doe</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-gray-800">
                                    <p class="mb-0">E-mail</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">john.doe@empresa.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-gray-800">
                                    <p class="mb-0">Telefone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">(097) 234-5678</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-gray-800">
                                    <p class="mb-0">Endereço</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Centro, Caxias do Sul, RS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>