<nav id="home-topbar" class="home-topbar-grow navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            
            <input type="text" class="form-control bg-light border-0 small" placeholder="Procure por..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary btn-search" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1" dropdown [hidden]="isShowNotificationUser">
            <a class="nav-link dropdown-toggle" href id="basic-link" dropdownToggle (click)="false" >
                <i class="fas fa-bell fa-fw"></i>
                <span [hidden]="isNewNotification" class="badge badge-danger badge-counter">+{{newNotifications}}</span>
            </a>
            <ul id="basic-link-dropdown" *dropdownMenu
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" role="menu"
                aria-labelledby="basic-link" style="width:30rem !important;">
                <h6 class="dropdown-header">
                    Central de Notificações
                </h6>
                <li *ngFor="let element of notifications" style="padding-left: 1rem;" class="dropdown-item d-flex align-items-center" (click)="$event.stopPropagation()">
                    <div class="mr-1">
                        <div class="icon-circle {{element.MessageType == 'L' ? 'bg-warning' : 'bg-danger'}}">
                            <i class="fas fa-triangle-exclamation text-white notification-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="small-text {{element.Situation == 'X' ? 'message-bold' : ''}}">{{element.FormatedDate}}</div>
                        <span class="text-gray-600 {{element.Situation == 'X' ? 'message-bold' : ''}}" >{{element.Message}}</span>
                        <span title="Marcar como lido" [hidden]="element.Situation == 'X' ? false : true" style="float:right;cursor:pointer;margin-left:0.3rem;" (click)="markAsRead(element.ID, element.UserId, element.Message, element.MessageType)"><i class="fas fa-circle-check" style="color:#3d9f3d"></i></span>
                        <span title="Remover" style="float:right;cursor: pointer;" (click)="remove(element.ID)"><i class="fas fa-circle-xmark" style="color:#DC3545"></i></span>
                   
                    </div>
                </li>
                <li [style.display]="displayNone" class="dropdown-item d-flex align-items-center">
                    <div class="mr-3">
                        <div class="icon-circle bg-success">
                            <i class="fas fa-face-smile-wink text-white notification-icon"></i>
                        </div>
                    </div>
                    <div>
                        <span class="text-gray-600">Sem novas notificações!</span>
                    </div>
                </li>
            </ul>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow" dropdown>
            <a class="nav-link dropdown-toggle" href id="basic-link" dropdownToggle (click)="false"
                aria-controls="basic-link-dropdown">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userPersonName}}</span>
                <img class="img-profile rounded-circle" src="{{userPersonProfilePic}}">
            </a>
            <ul id="basic-link-dropdown" *dropdownMenu
                class="dropdown-menu dropdown-menu-right shadow animated--grow-in" role="menu"
                aria-labelledby="basic-link">
                <li>
                    <a class="dropdown-item text-gray-600" href="/minha-conta">
                        <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                        Minha Conta
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item text-gray-600" (click)="logout()" style="cursor:pointer;">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                        Sair
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</nav>