.example-spacer {
  flex: 1 1 auto;
  text-align: -webkit-center;
}

.btn-search {
  background-color: #5099dd;
}

#home-topbar {
  position: fixed;
  z-index: 30;
  top: 0;
  width: calc(100% - 14em);
  margin-left: 14em;
  transition: width 0.3s, margin 0.3s
}

#home-topbar.home-topbar-grow {
  width: calc(100% - 6.5em);
  margin-left: 6.5em;
}

.dropdown-header {
  background-color: var(--cor-btn-primary-produto) !important;
  border-color: var(--cor-btn-primary-produto) !important;
}

.notification-icon {
  font-size: 20px;
}

.message-bold {
  font-weight: bold !important;
}

@media (max-width: 768px) {
  #home-topbar {
    width: calc(100% - 6.5em);
    margin-left: 6.5em;
  }
}

.navbar-search {
  margin-left: 10px;
  margin-top: 18px;
  font-size: 12px;
}

:host ::ng-deep .mat-form-field-wrapper{
  width: 100rem;
}

::placeholder {
  color: var(--cor-placeholder-produto);
  opacity: 1;
}

.mat-autocomplete-panel.max-height-panel {
  max-height: 100% !important;
}