<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <app-container containerTitle="Produto" containerPath="Cadastros">
            <mat-tab-group>
                <mat-tab label="Pesquisa">
                    <app-produto-pesquisa></app-produto-pesquisa>
                </mat-tab>
                <mat-tab label="Cadastro">
                    <app-produto-cadastro></app-produto-cadastro>
                </mat-tab>
                <mat-tab label="Aprazamento">
                    <app-produto-aprazamento></app-produto-aprazamento>
                    <button mat-fab id="add-dose-btn" class="float-btn create-button" (click)="openDoseDialog()" aria-label="Add button" matTooltip="Inserir Dose" matTooltipPosition="above">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-tab>
                <mat-tab label="Resumo">
                    <app-produto-resumo></app-produto-resumo>
                </mat-tab>
            </mat-tab-group>
        </app-container>
    </div>
</div>