<div id="search-table">
    <mat-table [dataSource]="dataSource" class="col-sm-12">

        <ng-container matColumnDef="product">
            <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="minimumStock">
            <mat-header-cell *matHeaderCellDef> Estoque Mínimo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.minimumStock}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>