.search-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 2rem;
}

.search-table-content {
  padding-left: 0px;
  padding-right: 0px;
}

:host ::ng-deep .search-group .mat-form-field-wrapper {
  padding: 0px;
}

.mat-button-entry {
  margin-bottom: 0px !important;
  align-self: center !important;
}

form {
  width: 100% !important;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: inline-block;
  position: relative;
  margin-bottom: 0px !important;
  align-self: center !important;
}

.spinner {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  height: 40px;
  bottom: 6px;
  margin-left: 5px;
}

.edit-button {
  height: 40px;
  bottom: 6px;
  margin-left: 10px;
}

.float-btn {
  z-index: 100;
  position: absolute;
  bottom: 24px;
  right: 36px;
}

:host ::ng-deep .mat-tab-body-wrapper {
  height: 100% !important;
}

:host ::ng-deep .mat-tab-group {
  height: 100% !important;
}

:host ::ng-deep .mat-chip {
  font-size: 12px !important;
  color: #858796 !important;
}

.example-stepper {
  font-size: 14px;
  margin-left: 1rem;
  margin-right: 1rem;
}

#movement-product-table {
  display: flex;
  justify-content: center;
  overflow-x: initial;
  margin: 0.5rem;
  border: none
}

.mat-footer-row {
  font-weight: bold !important;
}

.mat-column-Select,
.mat-column-Options {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.mat-cell-Select,
.mat-cell-Options {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.mat-column-BudgetNumber {
  flex: 0 0 150px !important;
  white-space: unset !important;
}

.mat-cell-BudgetNumber {
  flex: 0 0 150px !important;
  white-space: unset !important;
}


#budget-product-table {
  display: flex;
  justify-content: center;
  overflow-x: initial;
  margin: 0.5rem;
  border: none
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

::ng-deep .mat-mini-fab.mat-accent.mat-button-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.budget-aproved {
  color: #59b0dd;
  opacity: 0.5;
}

.budget-pending {
  color: #ffc107;
  opacity: 0.5;
}

.budget-canceled {
  color: #dc3545;
  opacity: 0.5;
}

.budget-expired {
  color: #9BA7C0;
  opacity: 0.5;
}

.budget-finished {
  color: #198754;
  opacity: 0.5;
}

.budget-negotiation {
  color: #820263;
  opacity: 0.5;
}

.values {
  font-size: 20px;
  margin-bottom: 0.75rem;
  margin-top: 2rem;
  margin-left: 0.75rem;
}

#budget-payment-table {
  padding-left: 0.75rem;
}

.highlight {
  background: #42A948;
  /* green */
}

.selected {
  background-color: whitesmoke !important;
  font-weight: bold !important;
}

:host ::ng-deep.mat-spinner {
  margin-right: 0.2rem !important;
}

#historic-table tr td {
  white-space: pre-wrap !important;
  padding-right: 1.5rem;
}

#profilePic {
  background-image: url(../../../assets/img/default-profile-pic.png);
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  margin: 0.5rem;
}

.mat-column-borrower {
  flex: 0 0 400px !important;
  white-space: unset !important;
}

.mat-cell-borrower {
  flex: 0 0 400px !important;
  white-space: unset !important;
}

.mat-column-color {
  flex: 0 0 10px !important;
  white-space: unset !important;
  padding: 0px !important;
}

.mat-cell-color {
  flex: 0 0 10px !important;
  white-space: unset !important;
  padding: 0px !important;
}

#color-td {
  height: 96px !important;
  border-left: 1px solid rgba(231, 234, 243, .7) !important;
}

.card-resumo-paciente {
  min-height: 12rem;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: 11px;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  border-right: 0.25rem #5099dd solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-content-resumo-paciente {
  display: flex;
  height: 100%;
  border-radius: 15px;
  padding: 1.5rem;
  min-height: 12rem;
  color: #f3f3f3;
  background: rgb(49, 122, 190);
  background: linear-gradient(0deg, rgba(49, 122, 190, 1) 0%, rgba(80, 153, 221, 1) 100%);
}

.dados-principais-paciente {
  display: flex;
  align-items: center;
}

.img-paciente {
  margin-right: 1.5rem;
  height: 90px;
  width: 90px;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(58 59 69 / 20%) !important;
  display: block;
  border-radius: 50%;
}

.informacao-secundaria {
  font-size: 11px;
}

.informacoes-complementares-paciente {
  display: flex;
  flex-direction: column;
}

.secondary-content-resumo-paciente {
  display: flex;
  color: #9da4b0;
  align-items: center;
}

.informacao-secundaria-auxiliar {
  display: block;
  font-size: 10px;
}

.informacao-principal-auxiliar {
  color: #6f7c91;
  font-size: 12px;
  border-bottom: 1px solid #5099dd;
  padding-bottom: 5px;
  line-height: 28px;
}

.right-border-product {
  border-right: 0.25rem #5099dd solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.first-card,
.second-card {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2 {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #4895ef;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-2 {
  position: relative;
  background-color: inherit;
  width: 50%;
}


/* Place the container to the left */
.left-2 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right-2 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
  display: none;
}

/* Add arrows to the right container (pointing left) */
.right-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  display: none;
}

/* Fix the circle for containers on the right side */
.right-2::after {
  left: -14px;
}

.titulo-historico {
  font-size: 14px;
}

.horario-historico,
.texto-historico {
  font-size: 12px;
}

.history-icon {
  min-width: 15px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .main-timeline-2::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-2::after,
  .right-2::after {
    left: 18px;
  }

  .left-2::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right-2 {
    left: 0%;
  }
}

@media (max-width: 1366px) {

  .main-content-resumo-paciente,
  .card-resumo-paciente {
    min-height: 10rem;
  }

  .img-paciente {
    height: 90px;
    width: 90px;
  }
}

a {
  color: #5099dd !important;
}

a:hover {
  color: #5099dd !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.bolota {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #4895ef;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bolota-left {
  right: -24px;
}

.bolota-right {
  right: 447px;
}

.dt-historico {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1px;
  color: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-tooltip {
  white-space: pre-line !important;
}

.vaccine-icon {
  visibility: hidden;
  color: var(--cor-produto)
}

:host ::ng-deep .mat-row:hover .mat-column-action i {
  visibility: visible;
}

.mat-column-action {
  flex: 0 0 50px !important;
  white-space: unset !important;
}

.mat-cell-action {
  flex: 0 0 50px !important;
  white-space: unset !important;
}

.link-text {
  color: #5099dd !important;
  cursor: pointer;
}

.icone-cadastro-paciente {
  margin-top: 40px;
  margin-right: 15px;
  color: #5099dd;
  transition: transform 0.2s;
  cursor: pointer !important;
  position: absolute;
  font-size: 12px;
  z-index: 10000;
}

:host ::ng-deep .mat-table {
  border-radius: 0.75rem;
}