<div class="search-group">
    <div class="col-sm-11 p-0 d-flex">
        <mat-form-field class="search-form-field col-sm-10" appearance="outline">
            <mat-label>Digite o nome da pessoa ou o CPF</mat-label>
            <input id="organicSearch" matInput type="text" [(ngModel)]="value" placeholder="(mínimo 3 caracteres)">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button id="mat-search-button" mat-raised-button color="primary">Pesquisar</button>
    </div>
</div>

<div id="search-table">
    <mat-table [dataSource]="dataSource" class="col-sm-11">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="document">
            <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.document}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="birthDate">
            <mat-header-cell *matHeaderCellDef> Data de Nascimento </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.birthDate}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>