<form>
    <div class="complement-group">
        <div class="offset-sm-1 col-sm-11 p-0" id="person-physical">
            <div class="div-row-input">
                <div class="div-row-input">
                    <mat-form-field appearance="fill" class="col-sm-6">
                        <mat-label>CPF</mat-label>
                        <input type="text" matInput #input maxlength="14" id="cpfNumber" required="true"
                            mask="000.000.000-000" placeholder="000.000.000-00">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col-sm-5 ml-0">
                        <mat-label>CNS</mat-label>
                        <input type="text" matInput #input maxlength="18" placeholder="000 0000 0000 0000"
                            id="cnsNumber" mask="000 0000 0000 00000">
                    </mat-form-field>
                </div>

                <div class="div-row-input">
                    <mat-form-field appearance="fill" class="col-sm-6">
                        <mat-label>Estado Civil</mat-label>
                        <mat-select id="maritalStatus">
                            <mat-option value="S">Solteiro(a)</mat-option>
                            <mat-option value="C">Casado(a)</mat-option>
                            <mat-option value="X">Separado(a)</mat-option>
                            <mat-option value="D">Divorciado(a)</mat-option>
                            <mat-option value="V">Viúvo(a)</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="col-sm-5 ml-0">
                        <mat-label>Gênero</mat-label>
                        <mat-select id="gender" required="true">
                            <mat-option value="M">Masculino</mat-option>
                            <mat-option value="F">Feminino</mat-option>
                            <mat-option value="O">Outro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-6">
                    <mat-label>Data de Óbito</mat-label>
                    <input matInput [matDatepicker]="picker2" id="deathDate" ng-model="cad.deathDate" mask="00/00/0009">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="offset-sm-1 col-sm-11 p-0 d-none" id="person-juridical">
            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-12">
                    <mat-label>Nome Fantasia</mat-label>
                    <input type="text" matInput #input maxlength="255" id="fantasyName">
                </mat-form-field>
            </div>
            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-12">
                    <mat-label>CNPJ</mat-label>
                    <input type="text" matInput #input maxlength="18" id="cnpjNumber" required="true"
                        mask="00.000.000/0000-00" placeholder="00.000.000/0000-00">
                </mat-form-field>
            </div>
        </div>
        <div class="offset-sm-1 col-sm-3">
            <button mat-raised-button class="create-button"><span class="fa-solid fa-floppy-disk me-1 w-20px"></span><span>Salvar</span></button>
        </div>
    </div>
</form>