<section id="center" class="section-main">
    <div id="is-content" class="flex-1 is-content is-content-grow">
        <div class="is-section-datail-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">{{containerPath}}</li>

                    <li class="breadcrumb-item active" aria-current="page"><b>{{containerTitle}}</b>
                    </li>
                </ol>
            </nav>
            <mat-chip-list aria-label="Fish selection" [hidden]="isInformationHidden">
                <mat-chip>{{information}}</mat-chip>
            </mat-chip-list>

        </div>
        <div class="is-section-content">
            <div class="is-card is-card-default-content">
                <div class="is-card-body">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>