<div class="flex-1 is-content h-100">
    <div class="is-section-datail-header">
        <div class="d-flex is-container-header-section">
            <h1 class="is-section-detail-header-title" id="title">Título</h1>
            <div class="is-path-page" title="Caminho no Sistema">( Caminho / Caminho )</div>
        </div>
    </div>
    <div class="is-section-content">
        <div class="is-card is-card-default-content">
            <div class="is-card-body">

            </div>
        </div>
    </div>
</div>