<section id="center" class="section-main">
    <div id="is-content" class="flex-1 is-content">
        <div class="is-section-datail-header">
            <div class="d-flex is-container-header-section">
                <h1 class="is-section-detail-header-title" id="title">{{containerTitle}}</h1>
                <div class="is-path-page">( {{containerPath}} )</div>
            </div>
        </div>
        <div class="is-section-content">
            <div class="is-card is-card-default-content">
                <div class="is-card-body">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>