<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {{is_toggled}}" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div>
        <a href='/home' class="sidebar-brand d-flex align-items-center">
            <div class="sidebar-brand-icon o-hidden">
                <img id="logo" src="../../../assets/img/menu-expanded-logo.png"
                    style="height: 70px;width: 125px;margin-left: 1.5rem;">
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            RECURSOS
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/home" data-toggle="collapse" data-target="#collapseRegistration"
                aria-expanded="false" aria-controls="collapseRegistration">
                <i class="fas fa-fw fa-address-card resource-icon"></i>
                <span>CADASTROS</span>
            </a>
            <div id="collapseRegistration" class="collapse" aria-labelledby="headingRegistration"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/formas-pagamento">FORMAS PAGAMENTO</a>
                    <a class="collapse-item" href="#">OCUPAÇÕES</a>
                    <a class="collapse-item" href="#">PESSOAS</a>
                    <a class="collapse-item" href="#">PRESTADORES</a>
                    <a class="collapse-item" href="#">PRODUTO</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/home" data-toggle="collapse" data-target="#collapseOperational"
                aria-expanded="false" aria-controls="collapseOperational">
                <i class="fas fa-fw fa-hand-holding-medical resource-icon"></i>
                <span>OPERACIONAL</span>
            </a>
            <div id="collapseOperational" class="collapse" aria-labelledby="headingOperational"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">AGENDAMENTO</a>
                    <a class="collapse-item" href="#">APLICAÇÃO</a>
                    <a class="collapse-item" href="#">ORÇAMENTOS</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/home" data-toggle="collapse" data-target="#collapseInventory"
                aria-expanded="false" aria-controls="collapseInventory">
                <i class="fas fa-fw fa-box-open resource-icon"></i>
                <span>ESTOQUE</span>
            </a>
            <div id="collapseInventory" class="collapse" aria-labelledby="headingInventory"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">COMPRAR OU VENDER</a>
                    <a class="collapse-item" href="#">SITUAÇÃO ESTOQUE</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/home" data-toggle="collapse" data-target="#collapseUser"
                aria-expanded="false" aria-controls="collapseUser">
                <i class="fas fa-fw fa-users resource-icon"></i>
                <span>USUÁRIOS</span>
            </a>
            <div id="collapseUser" class="collapse" aria-labelledby="headingUser" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">GERENCIAR USUÁRIOS</a>
                    <a class="collapse-item" href="#">PERFIS</a>
                </div>
            </div>
        </li>
    </div>
    <div>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Heading -->
        <div class="sidebar-heading">
            LOGOUT
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/login">
                <i class="fas fa-fw fa-power-off resource-icon"></i>
                <span>SAIR</span>
            </a>
        </li>
    </div>
</ul>
<div class="is-handle-expanded" id="sidebarToggle" (click)="toggleSideNav()">
    <span class="is-icon-type-expanded"></span>
</div>