<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {{is_toggled}}" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div>
        <a href='/home' class="sidebar-brand d-flex align-items-center">
            <div class="sidebar-brand-icon o-hidden">
                <img id="logo" src="../../../assets/img/menu-expanded-logo.png"
                    style="height: 70px;width: 125px;margin-left: 1.5rem;">
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            RECURSOS
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <div (click)="isCollapsedRegistration = !isCollapsedRegistration"
                [attr.aria-expanded]="!isCollapsedRegistration" aria-controls="collapseRegistration"
                class="nav-link nav-link-menu collapsed" data-toggle="collapse">
                <div>
                    <i class="fas fa-fw fa-address-card resource-icon"></i>
                    <span>CADASTROS</span>
                </div>
            </div>
            <div id="collapseRegistration" [collapse]="isCollapsedRegistration" [isAnimated]="true"
                data-parent="#accordionSidebar" (expands)="expands()" (collapses)="collapses()">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/pessoas">PESSOAS</a>
                    <a class="collapse-item" href="/produto">PRODUTO</a>
                    <a class="collapse-item" href="/formas-pagamento">FORMAS PAGAMENTO</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <div (click)="isCollapsedOperational = !isCollapsedOperational"
                [attr.aria-expanded]="!isCollapsedOperational" aria-controls="collapseOperational"
                class="nav-link nav-link-menu collapsed" data-toggle="collapse">
                <div>
                    <i class="fas fa-fw fa-hand-holding-medical resource-icon"></i>
                    <span>OPERACIONAL</span>
                </div>
            </div>
            <div id="collapseOperational" [collapse]="isCollapsedOperational" [isAnimated]="true"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/agendamento">AGENDAMENTO</a>
                    <a class="collapse-item" href="/aplicacao">APLICAÇÃO</a>
                    <a class="collapse-item" href="/orcamentos">ORÇAMENTOS</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <div (click)="isCollapsedInventory = !isCollapsedInventory" [attr.aria-expanded]="!isCollapsedInventory"
                aria-controls="collapseInventory" class="nav-link nav-link-menu collapsed" data-toggle="collapse">
                <div>
                    <i class="fas fa-fw fa-box-open resource-icon"></i>
                    <span>ESTOQUE</span>
                </div>
            </div>
            <div id="collapseInventory" [collapse]="isCollapsedInventory" [isAnimated]="true"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/movimentar-estoque">MOVIMENTAR ESTOQUE</a>
                    <a class="collapse-item" href="/situacao-estoque">SITUAÇÃO ESTOQUE</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <div (click)="isCollapsedManagement = !isCollapsedManagement" [attr.aria-expanded]="!isCollapsedManagement"
                aria-controls="collapseManagement" class="nav-link nav-link-menu collapsed" data-toggle="collapse">
                <div>
                    <i class="fas fa-fw fa-gear resource-icon"></i>
                    <span>GERENCIAL</span>
                </div>
            </div>
            <div id="collapseManagement" [collapse]="isCollapsedManagement" [isAnimated]="true" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/empresas">EMPRESAS</a>
                    <a class="collapse-item" href="/gerenciar-usuarios">GERENCIAR USUÁRIOS</a>
                    <a class="collapse-item" href="/visao-faturamento">VISÃO FATURAMENTO</a>
                    <a class="collapse-item" href="/recursos">RECURSOS</a>
                </div>
            </div>
        </li>
    </div>
    <div>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Heading -->
        <div class="sidebar-heading">
            LOGOUT
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/login">
                <i class="fas fa-fw fa-power-off resource-icon"></i>
                <span>SAIR</span>
            </a>
        </li>
    </div>
</ul>
<div class="is-handle-expanded withdrawn" id="sidebarToggle" (click)="toggleSideNav()">
    <span class="is-icon-type-expanded"></span>
</div>