<div class="d-flex">
  <app-side-menu></app-side-menu>
  <div id="content-wrapper" class="d-flex flex-column">
    <app-toolbar></app-toolbar>
    <app-container containerTitle="Gerenciar Usuários" containerPath="Gerencial" [information]="informationField"> 

      <mat-tab-group #tabGroup>

        <!-- SEARCH TAB -->
        <mat-tab label="Pesquisa">
          <div class="search-group">
            <div class="col-sm-11 p-0 d-flex">
              <mat-form-field class="search-form-field col-sm-9" appearance="outline">
                <mat-label>Digite o e-mail do usuário</mat-label>
                <input matInput type="text" [(ngModel)]="searchEmailUser" id="searchEmailUser">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <button (click)="loadUserData()" id="mat-search-button" mat-raised-button color="primary"
                class="mat-button-entry me-2" [disabled]="searchButtonLoading">
                <div class="spinner">
                  <mat-spinner *ngIf="searchButtonLoading" [diameter]="15"></mat-spinner>
                  <span *ngIf="!searchButtonLoading" class="fa-solid fa-magnifying-glass me-1 w-20px"></span>
                  Pesquisar
                </div>
              </button>
              <button id="mat-add-button" mat-raised-button class="mat-button-entry create-button"
                matTooltip="Novo Recurso" matTooltipPosition="above" (click)="tabGroup.selectedIndex=1"
                (click)="addNewUser()"><span class="fa-solid fa-plus w-20px"></span></button>
            </div>
          </div>
          <div class="search-table">
            <div class="col-sm-11 search-table-content mat-elevation-z2">
              <table class="col-sm-12" mat-table [dataSource]="dataSource" matSort matSortActive="Email"
                matSortDirection="asc">

                <!-- Email Column -->
                <ng-container matColumnDef="Email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuário </th>
                  <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
                </ng-container>

                <!-- Person Column -->
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Pessoa </th>
                  <td mat-cell *matCellDef="let row"> {{row.Person.Name}} </td>
                </ng-container>

                <!-- Situation Column -->
                <ng-container matColumnDef="Situation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
                  <td mat-cell *matCellDef="let row"> {{row.Situation == 'A' ? 'Ativo' : 'Inativo'}} </td>
                </ng-container>

                <!-- Id Hidden Column -->
                <ng-container matColumnDef="ID">
                  <th mat-header-cell [hidden]="show" *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell [hidden]="show" *matCellDef="let row"> {{row.ID}} </td>
                </ng-container>

                <ng-container matColumnDef="Options">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" title="Visualizar"><i class="fa-solid fa-pen-to-square"
                        (click)="tabGroup.selectedIndex=1" (click)="editUser(row.ID)"></i></button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">Nenhum registro encontrado.</td>
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </mat-tab>

        <!-- REGISTER TAB -->
        <mat-tab label="Cadastro">
          <form [formGroup]="userForm">
            <div class="registration-group">
              <div class="offset-sm-1 col-sm-11 p-0">

                <mat-form-field [hidden]="true">
                  <input matInput #NameIdUser formControlName="UserId" id="UserId" [(ngModel)]="UserId">
                </mat-form-field>

                <div class="div-row-input">
                  <mat-form-field appearance="fill" class="col-sm-11">
                    <mat-label>Usuário</mat-label>
                    <input type="text" (click)="searchPersonByAutoComplete()" [readonly]="isInputReadOnly" id="PersonId" placeholder="Selecione a Pessoa" aria-label="Number" matInput #PersonIdinput formControlName="PersonId" [matAutocomplete]="auto" [(ngModel)]="PersonId" required>
                      <mat-error *ngIf="userForm.controls.PersonId.touched && userForm.controls.PersonId.invalid">
                          <span *ngIf="userForm.controls.PersonId.errors?.required">O Usuário é obrigatório.</span>
                      </mat-error>
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayState">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.Name}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>

                <div class="div-row-input">
                  <mat-form-field appearance="fill" class="col-sm-11">
                    <mat-label>E-mail</mat-label>
                    <input matInput #Emailinput formControlName="Email" [maxlength]="255" placeholder="email@exemplo.com.br" id="Email" [(ngModel)]="Email" required>
                    <mat-hint align="end">{{Emailinput.value?.length || 0}}/255</mat-hint>
                    <mat-error *ngIf="userForm.controls.Email.touched && userForm.controls.Email.invalid">
                        <span *ngIf="userForm.controls.Email.errors?.required || userForm.controls.Email.errors?.email">Informe um e-mail válido.</span>
                      </mat-error>
                  </mat-form-field>
                </div>

                <div class="div-row-input">
                  <mat-form-field appearance="fill" class="col-sm-6">
                    <mat-label>Função</mat-label>
                    <mat-select [disabled]="isInputDisabled"
                                formControlName="FunctionUser"
                                #FunctionUserInput id="FunctionUser"
                                [(ngModel)]="FunctionUser"
                                required>
                      <mat-option value="A" selected>Administrador</mat-option>
                      <mat-option value="E" selected>Aplicador</mat-option>
                      <mat-option value="G" selected>Gerente</mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.controls.FunctionUser.touched && userForm.controls.FunctionUser.invalid">
                        <span *ngIf="userForm.controls.FunctionUser.errors?.required">A Função é obrigatória.</span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="div-row-input">
                  <mat-form-field appearance="fill" class="col-sm-6">
                    <mat-label>Situação</mat-label>
                    <mat-select [disabled]="isInputDisabled" formControlName="Situation" #SituationInput id="Situation" [(ngModel)]="Situation" required>
                      <mat-option value="A" selected>Ativo</mat-option>
                      <mat-option value="I">Inativo</mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.controls.Situation.touched && userForm.controls.Situation.invalid">
                      <span *ngIf="userForm.controls.Situation.errors?.required">A Situação é obrigatória.</span>
                  </mat-error>
                  </mat-form-field>
                </div>

                <div class="div-row-input">
                  <mat-form-field appearance="fill" class="col-sm-6">
                    <mat-label>Senha</mat-label>
                    <input type="password" [readonly]="isInputReadOnly" matInput #PasswordInput formControlName="Password" [maxlength]="255" placeholder="Informe uma senha" id="Password" [(ngModel)]="Password" required>
                    <mat-hint align="end">{{PasswordInput.value?.length || 0}}/255</mat-hint>
                    <mat-error *ngIf="userForm.controls.Password.touched && userForm.controls.Password.invalid">
                        <span *ngIf="userForm.controls.Password.errors?.required">A Senha é obrigatória.</span>
                        <span *ngIf="userForm.controls.Password.errors?.maxlength">A Senha deve ter no máximo 255 caracteres.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="col-sm-5 ml-0">
                    <mat-label>Confirmação de Senha</mat-label>
                    <input type="password" [readonly]="isInputReadOnly" matInput #ConfirmPasswordInput formControlName="ConfirmPassword" [maxlength]="255" placeholder="Confirme sua senha" id="ConfirmPassword" [(ngModel)]="ConfirmPassword" required>
                      <mat-hint align="end">{{ConfirmPasswordInput.value?.length || 0}}/255</mat-hint>
                      <mat-error *ngIf="userForm.controls.ConfirmPassword.touched && userForm.controls.ConfirmPassword.invalid">
                          <span *ngIf="userForm.controls.ConfirmPassword.errors?.required">É necessário confirmar a senha.</span>
                          <span *ngIf="userForm.controls.ConfirmPassword.errors?.maxlength">A Senha deve ter no máximo 255 caracteres.</span>
                      </mat-error>
                  </mat-form-field>
                </div>

                <div class="div-row-input registration-button-row d-flex">
                  <button mat-raised-button class="create-button" (click)="createUpdateUser()" type="button"
                    [disabled]="createButtonLoading">
                    <div class="spinner">
                      <mat-spinner *ngIf="createButtonLoading" [diameter]="15"></mat-spinner>
                      <span *ngIf="!createButtonLoading" class="fa-solid fa-floppy-disk me-1 w-20px"></span>
                      Salvar
                    </div>
                  </button>

                  <button mat-raised-button class="create-button" (click)="activateUserSituation()" type="button"
                    id="btn-activate-user" [disabled]="activateUserButtonLoading" [hidden]="isActivateButtonHidden">
                    <div class="spinner">
                      <mat-spinner *ngIf="activateUserButtonLoading" [diameter]="15"></mat-spinner>
                      <span *ngIf="!activateUserButtonLoading" class="fa-solid fa-user-check me-1 w-20px"></span>
                      Ativar
                    </div>
                  </button>

                  <button mat-raised-button color="warn" (click)="deactivateUserSituation()" type="button"
                    id="btn-disable-user" [disabled]="deactivateUserButtonLoading" [hidden]="isDeactivateButtonHidden">
                    <div class="spinner">
                      <mat-spinner *ngIf="deactivateUserButtonLoading" [diameter]="15"></mat-spinner>
                      <span *ngIf="!deactivateUserButtonLoading" class="fa-solid fa-user-slash me-1 w-20px"></span>
                      Desativar
                    </div>
                  </button>

                  <button mat-raised-button color="primary" id="btn-reset-password-user"
                    (click)="openResetPasswordDialog()" hidden><span
                      class="fa-solid fa-retweet me-1 w-20px"></span><span>Redefinir Senha</span></button>
                </div>
              </div>
            </div>
          </form>
        </mat-tab>

        <!-- RESOURCE TAB -->
        <mat-tab label="Recursos" [disabled]="isResourceDisabled">
          <div class="search-table">
            <div class="col-sm-11 search-table-content mat-elevation-z2">
              <table class="col-sm-12" mat-table [dataSource]="dataSource2" matSort matSortActive="Name"
                matSortDirection="asc">

                <!-- Resource Column -->
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Recurso </th>
                  <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
                </ng-container>

                <!-- Id Hidden Column -->
                <ng-container matColumnDef="ID">
                  <th mat-header-cell [hidden]="show" *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell [hidden]="show" *matCellDef="let row"> {{row.ID}} </td>
                </ng-container>

                <ng-container matColumnDef="Options">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="warn" title="Remover" [disabled]="isButtonDeleteResourceDisabled" (click)="findUserResourceToDelete(row.ID)" style="float:right;"><i class="fa-solid fa-trash"></i></button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="2">Nenhum registro encontrado.</td>
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </div>
          </div>

          <button mat-fab id="add-phone-btn" class="float-btn create-button" (click)="openAddScreensDialog()"
            aria-label="Add button" matTooltip="Inserir Recursos" matTooltipPosition="above" [hidden]="isButtonAddResourceHidden">
            <mat-icon>add</mat-icon>
          </button>
        </mat-tab>
      </mat-tab-group>
    </app-container>
  </div>
</div>
