<h2 mat-dialog-title>Recurso</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="userResourceForm">
    <div class="div-row-input">

      <mat-form-field [hidden]="true">
        <input matInput formControlName="UsersId" id="UsersId" [(ngModel)]="UsersId">
      </mat-form-field>


      <mat-form-field appearance="fill" class="col-sm-12">
        <mat-label>Recurso</mat-label>
        <input type="text" (click)="searchResourceByAutoComplete()" id="ResourcesId" placeholder="Selecione o Recurso"
          aria-label="Number" matInput #ResourcesIdinput formControlName="ResourcesId" [matAutocomplete]="auto"
          [(ngModel)]="ResourcesId" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayState">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.Name}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
        <mat-error *ngIf="userResourceForm.controls.ResourcesId.touched && userResourceForm.controls.ResourcesId.invalid">
          <span *ngIf="userResourceForm.controls.ResourcesId.errors?.required">O Recurso é obrigatório.</span>
      </mat-error>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial (click)="saveUserResource()" class="create-button">Salvar</button>
</mat-dialog-actions>