<div class="d-flex">
    <div id="content-wrapper" class="d-flex flex-column">
        <section id="center" class="section-login-main">
            <div class="flex-1 is-content">
                <div class="is-section-content">
                    <div class="is-card is-card-default-content shadow-lg o-hidden">
                        <div class="is-card-body p-0">
                            <div class="row h-100">
                                <img class="col-lg-8 d-none d-lg-block" src="../../../assets/img/login-bg-pic.png">
                                <div class="col-lg-4">
                                    <div class="p-5">
                                        <div class="row mb-5 d-flex justify-content-center">
                                            <h1 class="h4 mb-3 text-center">Esqueceu sua senha?</h1>
                                            <div class="subtitle">Nós entendemos, isso acontece! Informe seu e-mail abaixo para receber um link de redefinição de senha.</div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                            </div>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="exampleInputEmail" aria-describedby="emailHelp"
                                                    placeholder="Digite seu e-mail">
                                            </div>
                                            <a href="index.html" class="btn btn-primary btn-user btn-block">
                                                RECUPERAR
                                            </a>

                                        </form>
                                        <div class="mt-2" style="float:right;">
                                            <a class="small" href="/login"><i class="fa fa-reply me-1"></i>Voltar à página de login</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>