<div class="d-flex">
  <app-side-menu></app-side-menu>
  <div id="content-wrapper" class="d-flex flex-column">
    <app-toolbar></app-toolbar>
    <app-container containerTitle="Dashboard Operacional" 
                   containerPath="Gerencial" 
                   [information]="informationField"
                   [isClickable]=true 
                   [year]=year 
                   [month]=month 
                   (responseMonthYear)="reciveMonth($event)">
      <mat-tab-group #tabGroup animationDuration="0ms">

        <mat-tab label="Orçamento">

          <div class="row" style="margin:0.5rem">

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2 card-dash">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        TOTAL DE ORÇAMENTOS
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalBudgetNumber}}</div>
                      <div class="small-text mt-1" title="Total Mês Anterior">Anterior {{totalBudgetNumberPrevious}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-hand-holding-dollar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2 card-dash">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        R$ TOTAL NEGOCIADO
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{totalBudgetAmount | currency : 'R$' }}
                      </div>
                      <div class="small-text mt-1" title="Total Mês Anterior">
                        Anterior {{totalBudgetAmountPrevious | currency : 'R$' }}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-sack-dollar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2 card-dash">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                        R$ TOTAL NÃO NEGOCIADO
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{totalBudgetAmountLost | currency : 'R$' }}
                      </div>
                      <div class="small-text mt-1" title="Total Mês Anterior">Anterior
                        {{totalBudgetAmountLostPrevious | currency : 'R$' }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-sack-xmark fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2 card-dash">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        R$ DESCONTO CONCEDIDO
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{totalBudgetDiscount | currency : 'R$' }}
                      </div>
                      <div class="small-text mt-1" title="Total Mês Anterior">Anterior
                        {{totalBudgetDiscountPrevious | currency : 'R$' }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-filter-circle-dollar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin:0.5rem">
            <div class="col-lg-4 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Orçamentos por Situação</h6>
                </div>
                <div class="card-body">
                  <canvas baseChart 
                          [data]="barChartBudgetSituationData" 
                          [plugins]="barChartBudgetSituationPlugins"
                          [type]="barChartBudgetSituationType">
                  </canvas>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Orçamentos por Tipo de Pessoa</h6>
                </div>
                <div class="card-body">
                  <canvas baseChart 
                          [data]="barChartBudgetPersonData" 
                          [plugins]="barChartBudgetPersonPlugins"
                          [type]="barChartBudgetPersonType">
                  </canvas>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Produtos Orçados</h6>
                </div>
                <div class="card-body">
                  <canvas baseChart [data]="barChartBudgetProductData" 
                                    [plugins]="barChartBudgetProductPlugins"
                                    [type]="barChartBudgetProductType">
                  </canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="row d-flex" style="margin:0.5rem;justify-content: center;align-items: center;">
            <div class="col-lg-8 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Visão de Faturamento Anual - {{currentYear}}</h6>
                </div>
                <div class="card-body">
                  <canvas baseChart [data]="barChartInvoicingData" 
                                    [plugins]="barChartInvoicingPlugins"
                                    [type]="barChartInvoicingType" 
                                    [legend]="false">
                  </canvas>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600" style="font-size: 15px;">Visão de Faturamento Mensal - {{currentMonth}}/{{currentYear}}</h6>
                </div>
                <div class="card-body">
                  <p>R$ Negociado: {{totalBudgetAmount | currency : 'R$' }}</p>
                  <p>R$ Negociado Anterior: {{totalBudgetAmountPrevious  | currency : 'R$' }}</p>
                  <p class="text-success" *ngIf="showPhrase">{{phraseIncrease}}</p>
                  <p class="text-danger" *ngIf="!showPhrase">{{phraseDecrease}}</p>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Agendamento">

          <div class="row" style="margin:0.5rem">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2 card-dash">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        AGENDAMENTOS CONCLUÍDOS</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{authorizationConcludedNumber}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar-check fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2 card-dash">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        AGENDAMENTOS CONFIRMADOS
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{authorizationScheduleNumber}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar-day fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2 card-dash">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                        AGENDAMENTOS CANCELADOS
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{authorizationCanceledNumber}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar-xmark fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin:0.5rem">
            <div class="col-lg-4 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Notificações SMS por Agendamento</h6>
                </div>
                <div class="card-body" style="min-height: 370px;">
                  <canvas baseChart [data]="barChartAuthorizationNotificationData" 
                                    [plugins]="barChartAuthorizationNotificationPlugins"
                                    [type]="barChartAuthorizationNotificationType">
                  </canvas>
                </div>
              </div>
            </div>

            <div class="col-lg-8 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Notificações SMS por Situação</h6>
                </div>
                <div class="card-body" style="min-height: 370px;">
                  <canvas baseChart [data]="barChartAuthotizationSmsData" 
                                    [plugins]="barChartAuthotizationSmsPlugins"
                                    [type]="barChartAuthotizationSmsType" 
                                    [legend]="false">
                  </canvas>
                </div>
              </div>
            </div>
          </div>  
        </mat-tab>


        <mat-tab label="Aplicação">
          <div class="row" style="margin:0.5rem">

            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2 card-dash">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        APLICAÇÕES REALIZADAS
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{applicationsCompleted}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-vial-circle-check fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2 card-dash">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        APLICAÇÕES PENDENTES
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{applicationsPending}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-vial-virus fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin:0.5rem">
            <div class="col-lg-4 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Aplicadas por Gênero</h6>
                </div>
                <div class="card-body">
                  <canvas baseChart [data]="barChartApplicationGenderData" 
                                    [plugins]="barChartApplicationGenderPlugins"
                                    [type]="barChartApplicationGenderType">
                  </canvas>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Integrações SIPNI</h6>
                </div>
                <div class="card-body">
                  <canvas baseChart [data]="barChartApplicationIntegrationData"
                                    [plugins]="barChartApplicationIntegrationPlugins" 
                                    [type]="barChartApplicationIntegrationType">
                  </canvas>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Formas de Aplicação</h6>
                </div>
                <div class="card-body">
                  <canvas baseChart [data]="barChartApplicationTypeData" 
                                    [plugins]="barChartApplicationTypePlugins"
                                    [type]="barChartApplicationTypeType">
                  </canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin:0.5rem">
            <div class="col-lg-6 mb-1">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Aplicadas por Produto</h6>
                </div>
                <div class="card-body">
                  <canvas baseChart [data]="barChartApplicationProductData"
                                    [plugins]="barChartApplicationProductPlugins" 
                                    [type]="barChartApplicationProductType"
                                    [legend]="false">
                  </canvas>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4 card-dash">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-gray-600">Aplicadas por Faixa Etária</h6>
                </div>
                <div class="card-body">
                  <canvas baseChart [data]="barChartApplicationAgeData" 
                                    [plugins]="barChartApplicationAgePlugins"
                                    [type]="barChartApplicationAgeType" 
                                    [legend]="false">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </app-container>
  </div>
</div>
