<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <app-container containerTitle="Orçamentos" containerPath="Operacional">
            <mat-tab-group>
                <mat-tab label="Pesquisa">
                    <app-orcamento-pesquisa></app-orcamento-pesquisa>
                </mat-tab>
                <mat-tab label="Orçamento">
                    <app-orcamento-cadastro></app-orcamento-cadastro>
                </mat-tab>
              </mat-tab-group>
        </app-container>
    </div>
</div>