<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <app-container containerTitle="Orçamentos" containerPath="Operacional" [information]="informationField">
            <mat-tab-group #tabGroup animationDuration="0ms">
                <mat-tab label="Pesquisa">
                    <div class="search-group">
                        <div class="col-sm-11 p-0 d-flex">
                            <mat-form-field class="search-form-field col-sm-9" appearance="outline">
                                <mat-label>Digite o nome do responsável ou o nº do orçamento</mat-label>
                                <input id="searchPersonName" matInput type="text" [(ngModel)]="searchPersonName">
                            </mat-form-field>
                            <button id="mat-search-button" mat-raised-button color="primary"
                                class="mat-button-entry me-2" (click)="loadData()">
                                <span class="fa-solid fa-magnifying-glass me-1 w-20px"></span>
                                <span>Pesquisar</span>
                            </button>
                            <button (click)="addNewBudget(stepper); tabGroup.selectedIndex=1" id="mat-add-button"
                                mat-raised-button class="mat-button-entry create-button" matTooltip="Novo Orçamento"
                                matTooltipPosition="above"><span class="fa-solid fa-plus w-20px"></span></button>
                        </div>
                    </div>
                    <div id="search-table">
                        <div class="col-sm-11 search-table-content mat-elevation-z2">
                            <table class="col-sm-12" mat-table [dataSource]="dataSourceBudget" matSort
                                matSortActive="BudgetNumber" matSortDirection="asc">
                                <!-- Numero do orçamento -->
                                <ng-container matColumnDef="BudgetNumber">
                                    <mat-header-cell *matHeaderCellDef> Orçamento </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> 
                                        {{resolveExibitionSituation(element.Situation)}} 
                                        <span title="{{situationTitle}}" class="me-3 fa-solid fa-circle {{situationColor}}"></span>
                                        {{element.BudgetNumber}} 
                                    </mat-cell>
                                </ng-container>
                                <!-- Nome da pessoa -->
                                <ng-container matColumnDef="PersonName">
                                    <mat-header-cell *matHeaderCellDef> Responsável </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.Persons.Name}} </mat-cell>
                                </ng-container>
                                <!-- Data de validade -->
                                <ng-container matColumnDef="ExpirationDate">
                                    <mat-header-cell *matHeaderCellDef> Validade </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.ExpirationDate | date: 'dd/MM/yyyy'}}
                                    </mat-cell>
                                </ng-container>
                                <!-- Total -->
                                <ng-container matColumnDef="Amount">
                                    <mat-header-cell *matHeaderCellDef> R$ Total </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.TotalBudgetAmount | currency : 'R$'
                                        }} </mat-cell>
                                </ng-container>
                                <!-- Id Hidden Column -->
                                <ng-container matColumnDef="ID">
                                    <th mat-header-cell [hidden]="show" *matHeaderCellDef> ID </th>
                                    <td mat-cell [hidden]="show" *matCellDef="let row"> {{row.ID}} </td>
                                </ng-container>
                                <!-- Row Button -->
                                <ng-container matColumnDef="Options">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button (click)="editBudget(row.ID); tabGroup.selectedIndex=1" mat-icon-button
                                            color="primary" title="Visualizar"><i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedBudgetsColumns"></mat-header-row>
                                <mat-row class="hover-element-row" style="cursor:pointer;"
                                    (dblclick)="editBudget(row.ID)" (dblclick)="tabGroup.selectedIndex=1"
                                    *matRowDef="let row; columns: displayedBudgetsColumns;"></mat-row>
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="3">Nenhum registro encontrado.</td>
                                </tr>
                            </table>
                            <mat-paginator #paginatorBudget="matPaginator" [pageSizeOptions]="[10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <!-- ORÇAMENTO TAB -->
                <mat-tab label="Orçamento">
                    <mat-stepper #stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
                        <mat-step [stepControl]="budgetForm" label="Identificação">
                            <form [formGroup]="budgetForm" class="mt-3">
                                <div class="div-row-input">
                                    <!-- PESSOA -->
                                    <mat-form-field appearance="fill" class="col-sm-12">
                                        <mat-label>Pessoa</mat-label>
                                        <input (click)="searchPersonByAutoComplete()" type="text" #PersonIdinput
                                            placeholder="Selecione a Pessoa" aria-label="Number" matInput
                                            formControlName="PersonId" [matAutocomplete]="autoPerson"
                                            [(ngModel)]="personId" [readonly]="isPersonReadOnly" required>
                                        <mat-error
                                            *ngIf="budgetForm.controls.PersonId.touched && budgetForm.controls.PersonId.invalid">
                                            <span *ngIf="budgetForm.controls.PersonId.errors?.required">A Pessoa é
                                                obrigatória.</span>
                                        </mat-error>
                                        <mat-autocomplete #autoPerson="matAutocomplete"
                                            [displayWith]="displayStatePerson">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{option.Name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="div-row-input">
                                    <!-- USUÁRIO -->
                                    <mat-form-field appearance="fill" class="col-sm-7">
                                        <mat-label>Usuário colaborador</mat-label>
                                        <input [readonly]="true" (click)="searchUsersByAutoComplete()" type="text"
                                            #UserIdinput placeholder="Selecione o usuário responsável pela venda"
                                            aria-label="Number" matInput formControlName="UserId"
                                            [matAutocomplete]="autoUser" [(ngModel)]="userId" required>
                                        <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayStateUser">
                                            <mat-option *ngFor="let acUser of acUsers | async" [value]="acUser">
                                                {{acUser.Email}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                                    <!-- VALIDADE -->
                                    <mat-form-field appearance="fill" class="col-sm-5 ml-0">
                                        <mat-label>Validade</mat-label>
                                        <input matInput [matDatepicker]="picker" #ExpirationDateInput
                                            [(ngModel)]="expirationDate" formControlName="ExpirationDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="div-row-input">
                                    <!-- DETALHES -->
                                    <mat-form-field class="example-full-width" appearance="fill" class="col-sm-12">
                                        <mat-label>Detalhes</mat-label>
                                        <textarea matInput #DetailsInput formControlName="Details" [(ngModel)]="details"
                                            placeholder="Informações complementares" maxlength="255"></textarea>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div class="mt-5" style="float:right;">
                                        <button color="primary" mat-mini-fab
                                            aria-label="Example icon button with a menu icon" matTooltip="Próximo"
                                            (click)="goToBudgetProductStep(stepper)" matTooltipPosition="above">
                                            <mat-icon>chevron_right</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup" label="Produtos">
                            <form [formGroup]="secondFormGroup" class="mt-3">
                                <div class="demo-button-container col-sm-11">
                                    <button mat-mini-fab class="demo-button me-2 create-button"
                                        matTooltip="Inserir Produto" matTooltipPosition="right"
                                        (click)="openProductDialog()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                                <div id="budget-product-table">
                                    <div class="col-sm-12 search-table-content mat-elevation-z2">
                                        <table mat-table [dataSource]="dataSourceBudgetProduct" class="col-sm-12">

                                            <ng-container matColumnDef="ProductName">
                                                <th mat-header-cell *matHeaderCellDef> Produto </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div>
                                                        <div>{{element.Product.Name}}</div>
                                                        <div class="small-text">{{resolveExibitionDoseType(element.ProductDose)}}</div>
                                                    </div>
                                                </td>
                                                <td mat-footer-cell *matFooterCellDef> </td>
                                            </ng-container>

                                            <ng-container matColumnDef="BorrowerPersonName">
                                                <th mat-header-cell *matHeaderCellDef> Tomador </th>
                                                <td mat-cell *matCellDef="let element">{{element.Person.Name}}</td>
                                                <td mat-footer-cell *matFooterCellDef> </td>
                                            </ng-container>

                                            <!-- Total -->
                                            <ng-container matColumnDef="EstimatedSalesValue">
                                                <th mat-header-cell *matHeaderCellDef> R$ Total </th>
                                                <td mat-cell *matCellDef="let element"> {{element.EstimatedSalesValue | currency : 'R$' }} </td>
                                                <td mat-footer-cell *matFooterCellDef> {{getTotalProductAmount()| currency : 'R$' }} </td>
                                            </ng-container>

                                            <!-- Id Hidden Column -->
                                            <ng-container matColumnDef="ID">
                                                <th mat-header-cell [hidden]="show" *matHeaderCellDef> ID </th>
                                                <td mat-cell [hidden]="show" *matCellDef="let row"> {{row.ID}} </td>
                                                <td mat-footer-cell [hidden]="show" *matFooterCellDef> </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Options">
                                                <th mat-header-cell *matHeaderCellDef> </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <button mat-icon-button color="warn" title="Remover" style="float:right;">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                    <button mat-icon-button color="primary" title="Editar"
                                                        style="float:right;">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </button>
                                                </td>
                                                <td mat-footer-cell *matFooterCellDef> </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsBudgetProduct">
                                            </tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsBudgetProduct;"
                                                class="hover-element-row" style="cursor:pointer;">
                                            </tr>
                                            <tr mat-footer-row *matFooterRowDef="displayedColumnsBudgetProduct">
                                            </tr>
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="6">Nenhum registro encontrado.</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="mt-5" style="float:right;">
                                    <button color="primary" mat-mini-fab matStepperPrevious
                                        aria-label="Example icon button with a menu icon" matTooltip="Anterior"
                                        matTooltipPosition="above" class="me-2">
                                        <mat-icon>chevron_left</mat-icon>
                                    </button>

                                    <button color="primary" mat-mini-fab
                                        aria-label="Example icon button with a menu icon" matTooltip="Próximo"
                                        matTooltipPosition="above" (click)="goToBudgetValuesStep(stepper)">
                                        <mat-icon>chevron_right</mat-icon>
                                    </button>

                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="budgetForm2" label="Valores">
                            <form [formGroup]="budgetForm2" class="mt-3">
                                <div class="div-row-input">
                                    <mat-form-field appearance="fill" floatLabel="always" class="col-sm-4">
                                        <mat-label>R$ Produtos Orçados</mat-label>
                                        <input matInput [(ngModel)]="totalBudgetedAmount" formControlName="TotalBudgetedAmount" type="text" class="example-right-align" placeholder="0,00"
                                            required readonly mask="separator.2"
                                            [thousandSeparator]="'.'" [decimalMarker]="','">
                                        <span matPrefix>R$&nbsp;</span>
                                    </mat-form-field>
                                </div>
                                <div class="div-row-input">

                                    <mat-form-field appearance="fill" class="col-sm-1" style="padding-right:0px">
                                        <mat-label></mat-label>
                                        <mat-select [(value)]="discountType" formControlName="DiscountType" #DiscountTypeInput [(ngModel)]="discountType"
                                          required="true" (selectionChange)="discountTypeChanged()">
                                          <mat-option value="R$" selecteded>R$</mat-option>
                                          <mat-option value="%" selected>%</mat-option>
                                        </mat-select>
                                      </mat-form-field>

                                    <mat-form-field appearance="fill" floatLabel="always" class="col-sm-4">
                                        <mat-label>Desconto</mat-label>
                                        <input matInput [(ngModel)]="discountValue" formControlName="DiscountValue" type="text" class="example-right-align" placeholder="0,00"
                                            required mask="separator.2" [thousandSeparator]="'.'"
                                            [decimalMarker]="','" (blur)="calculateBudgetAmount()">
                                        <span matPrefix>{{prefixDiscountType}}&nbsp;</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" floatLabel="always" class="col-sm-4"
                                        style="font-weight:bold">
                                        <mat-label>R$ Total Orçamento</mat-label>
                                        <input matInput [(ngModel)]="totalBudgetAmount" formControlName="TotalBudgetAmount" type="text" class="example-right-align" placeholder="0,00"
                                           required readonly mask="separator.2"
                                            [thousandSeparator]="'.'" [decimalMarker]="','">
                                        <span matPrefix>R$&nbsp;</span>
                                    </mat-form-field>
                                </div>
                                <div class="mt-5" style="float:right;">
                                    <button mat-mini-fab matStepperPrevious
                                        aria-label="Example icon button with a menu icon" matTooltip="Anterior"
                                        matTooltipPosition="above" color="primary" class="me-2">
                                        <mat-icon>chevron_left</mat-icon>
                                    </button>
                                    <button mat-mini-fab color="primary"
                                        aria-label="Example icon button with a menu icon" matTooltip="Definir Pagamento"
                                        matTooltipPosition="above" class="create-button" (click)="goToBudgetNegotiationStep(stepper)">
                                        <mat-icon>attach_money</mat-icon>
                                    </button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="fourthFormGroup" label="Negociação">
                            <form [formGroup]="fourthFormGroup" class="mt-3">
                                <div class="div-row-input values" title="Valor restante">
                                    <i class="fa-solid fa-cart-shopping me-2"></i>
                                    <span>{{balanceNegotiations | currency : 'R$' }}</span>
                                </div>
                                <div class="div-row-input">
                                    <mat-form-field appearance="fill" class="col-sm-5">
                                        <mat-label>Forma de Pagamento</mat-label>
                                        <input matInput #input maxlength="10"
                                            placeholder="Selecione a forma de pagamento" id="paymentForm">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="col-sm-3">
                                        <mat-label>Nº Parcelas</mat-label>
                                        <input matInput #input type="number" maxlength="10" placeholder="Ex. 2"
                                            id="name">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" floatLabel="always" class="col-sm-3">
                                        <mat-label>R$ Negociado</mat-label>
                                        <input matInput type="text" class="example-right-align" placeholder="0,00"
                                            id="negotiatedValue" required="true" readonly="true" mask="separator.2"
                                            [thousandSeparator]="'.'" [decimalMarker]="','">
                                        <span matPrefix>R$&nbsp;</span>
                                    </mat-form-field>

                                    <button mat-mini-fab class="demo-button create-button"
                                        matTooltip="Inserir Negociação" matTooltipPosition="above">
                                        <mat-icon>add</mat-icon>
                                    </button>

                                </div>
                                <div id="budget-payment-table">
                                    <div class="col-sm-11 search-table-content mat-elevation-z2">
                                        <table mat-table [dataSource]="dataSourceBudgetNegotiation" class="col-sm-12">

                                            <ng-container matColumnDef="PaymentFormName">
                                                <th mat-header-cell *matHeaderCellDef> Forma de Pagamento </th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{element.PaymentForm.Name}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Installments">
                                                <th mat-header-cell *matHeaderCellDef> Parcelas </th>
                                                <td mat-cell *matCellDef="let element">{{element.Installments}}</td>
                                            </ng-container>

                                            <!-- Total -->
                                            <ng-container matColumnDef="TotalAmountTraded">
                                                <th mat-header-cell *matHeaderCellDef> R$ Total Negociado </th>
                                                <td mat-cell *matCellDef="let element"> {{element.TotalAmountTraded | currency : 'R$' }} </td>
                                            </ng-container>

                                            <!-- Id Hidden Column -->
                                            <ng-container matColumnDef="ID">
                                                <th mat-header-cell [hidden]="show" *matHeaderCellDef> ID </th>
                                                <td mat-cell [hidden]="show" *matCellDef="let row"> {{row.ID}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Options">
                                                <th mat-header-cell *matHeaderCellDef> </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <button mat-icon-button color="warn" title="Remover" style="float:right;">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsBudgetNegotiation">
                                            </tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsBudgetNegotiation;"
                                                class="hover-element-row" style="cursor:pointer;">
                                            </tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="6">Nenhum registro encontrado.</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="mt-5" style="float:right;">
                                    <button mat-mini-fab matStepperPrevious matTooltip="Reabrir"
                                        matTooltipPosition="above" class="me-2">
                                        <mat-icon>reply_all</mat-icon>
                                    </button>
                                    <button mat-mini-fab matTooltip="Cancelar" color="warn" matTooltipPosition="above"
                                        class="me-2">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <button mat-mini-fab matStepperNext
                                        aria-label="Example icon button with a menu icon" matTooltip="Aprovar"
                                        matTooltipPosition="above" class="create-button">
                                        <mat-icon>done</mat-icon>
                                    </button>
                                </div>
                            </form>
                        </mat-step>
                    </mat-stepper>
                </mat-tab>
            </mat-tab-group>
        </app-container>
    </div>
</div>