<div class="search-group">
    <div class="col-sm-11 p-0 d-flex">
        <mat-form-field class="search-form-field col-sm-10" appearance="outline">
            <mat-label>Digite o nome do responsável ou o nº do orçamento</mat-label>
            <input id="organicSearch" matInput type="text" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button id="mat-search-button" mat-raised-button color="primary"><span class="fa-solid fa-magnifying-glass me-1 w-20px"></span><span>Pesquisar</span></button>
    </div>
</div>

<div id="search-table">
    <mat-table [dataSource]="dataSource" class="col-sm-11">

        <ng-container matColumnDef="budgetNumber">
            <mat-header-cell *matHeaderCellDef> Orçamento nº </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.budgetNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="person">
            <mat-header-cell *matHeaderCellDef> Pessoa </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.person}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef> R$ Total </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>