#is-content {
    padding: 5.5rem;
    padding-bottom: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    transition: width 0.3s, margin 0.3s;
}

#is-content.is-content-grow {
    margin-left: -11.5em !important;
    padding-right: 2rem !important;
}

.card-header {
    background-color: #ffffff !important;
}

.card-area {
    height: 20rem;
}

#search-table {
  display: flex;
  justify-content: center;
  overflow-x: initial;
  margin: 0.2rem;
  border: none
}

.search-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 2rem;
}

.mat-column-Warning, .mat-column-Total, .mat-column-TotalUnits {
  flex: 0 0 50px !important;
  white-space: unset !important;
}

.mat-cell-Warning, .mat-cell-Total, .mat-cell-TotalUnits {
  flex: 0 0 50px !important;
  white-space: unset !important;
}

.mat-column-MinimumStock {
  flex: 0 0 130px !important;
  white-space: unset !important;
}

.mat-cell-MinimumStock {
  flex: 0 0 130px !important;
  white-space: unset !important;
}


.information-batch {
  cursor: pointer;
  color: var(--cor-produto);
  text-decoration: underline;
}

:host ::ng-deep.mat-spinner{
  margin-right: 0.2rem !important;
}

.mat-footer-row {
  font-weight: bold !important;
}


.mat-column-DiscardedUnits {
  flex: 0 0 160px !important;
  white-space: unset !important;
}

.mat-cell-DiscardedUnits {
  flex: 0 0 160px !important;
  white-space: unset !important;
}
