<div class="search-group">
    <div class="col-sm-11 p-0 d-flex">
        <mat-form-field class="search-form-field col-sm-10" appearance="outline">
            <mat-label>Digite o nome da pessoa ou o CPF</mat-label>
            <input id="organicSearch" matInput type="text" [(ngModel)]="value" placeholder="(mínimo 3 caracteres)">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button id="mat-search-button" mat-raised-button color="primary" class="mat-button-entry me-2"><span
                class="fa-solid fa-magnifying-glass me-1 w-20px"></span><span>Pesquisar</span></button>
    </div>
</div>

<div id="search-table">
    <div class="col-sm-11 search-table-content mat-elevation-z2">
    <mat-table [dataSource]="dataSource" class="col-sm-12">

        <ng-container matColumnDef="imageUrl">
            <mat-header-cell *matHeaderCellDef> Foto </mat-header-cell>
            <mat-cell *matCellDef="let element"> <img [src]="element.imageUrl" /> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pacient">
            <mat-header-cell *matHeaderCellDef> Tomador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.pacient}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Data e Hora </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
</div>