.registration-group {
    font-size: 14px;
}

#profilePic {
    background-image: url(../../../../assets/img/default-profile-pic.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.div-row-input .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.div-row-input-table {
    padding-bottom: 1.34375em;
}

.registration-button-row button,
.registration-button-row a {
    margin-right: 0.5rem;
}

.registration-button-row {
    margin: 0.75rem !important;
}