<form>
    <div class="registration-group">
        <div class="offset-sm-1 col-sm-11 p-0">
            <div class="div-row-input-table">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <div id="profilePic"></div>
                        </td>
                        <td class="table-name col-sm-11">
                            <mat-form-field appearance="fill" class="col-sm-11 pl-0">
                                <mat-label>Nome</mat-label>
                                <input matInput #input maxlength="10" placeholder="Ex. Maria da Silva" id="name"
                                    required="true">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-6">
                    <mat-label>Tipo de Pessoa</mat-label>
                    <mat-select id="kindOfPerson" required="true">
                        <mat-option value="F">Física</mat-option>
                        <mat-option value="J">Jurídica</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-sm-5 ml-0">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" id="commemorativeDate" mask="00/00/0009">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-11">
                    <mat-label>E-mail</mat-label>
                    <input matInput #input maxlength="10" placeholder="email@exemplo.com.br" id="email">
                </mat-form-field>
            </div>

            <div class="div-row-input">
                <mat-form-field class="example-full-width" appearance="fill" class="col-sm-11">
                    <mat-label>Detalhes</mat-label>
                    <textarea matInput placeholder="Informações complementares" id="details"></textarea>
                </mat-form-field>
            </div>

            <div class="div-row-input registration-button-row">
                <button mat-raised-button color="primary"><span class="fa-solid fa-floppy-disk me-2"></span><span>Salvar</span></button>
                <button mat-raised-button color="warn"><span class="fa-solid fa-trash me-2"></span><span>Excluir</span></button>
            </div>
        </div>
    </div>
</form>