<div class="d-flex">
  <app-side-menu></app-side-menu>
  <div id="content-wrapper" class="d-flex flex-column">
    <app-toolbar></app-toolbar>
    <app-container containerTitle="Formas Pagamento" containerPath="Cadastros">
      <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">

        <mat-tab label="Pesquisa">
          <app-formas-pagamento-pesquisa (changeIndex)="selected.setValue($event)"></app-formas-pagamento-pesquisa>
        </mat-tab>

        <mat-tab label="Cadastro">
          <app-formas-pagamento-cadastro></app-formas-pagamento-cadastro>
        </mat-tab>

      </mat-tab-group>
    </app-container>
  </div>
</div>
