<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <app-container containerTitle="Recursos" containerPath="Gerencial">
            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="Pesquisa">
                    <app-recursos-pesquisa (changeIndex)="selected.setValue($event)"></app-recursos-pesquisa>
                </mat-tab>

                <mat-tab label="Cadastro">
                    <app-recursos-cadastro></app-recursos-cadastro>
                </mat-tab>
            </mat-tab-group>
        </app-container>
    </div>
</div>