<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <app-container containerTitle="Recursos" containerPath="Gerencial / Recursos">
            <mat-tab-group>
                <mat-tab label="Pesquisa">
                    <app-recursos-pesquisa></app-recursos-pesquisa>
                </mat-tab>

                <mat-tab label="Cadastro">
                    <app-recursos-cadastro></app-recursos-cadastro>
                </mat-tab>
            </mat-tab-group>
        </app-container>
    </div>
</div>