<h2 mat-dialog-title>Produto</h2>
<mat-dialog-content class="mat-typography">
    <form>
        <div class="div-row-input">
            <mat-form-field appearance="fill" class="col-sm-12">
                <mat-label>Produto</mat-label>
                <input type="text" id="productId" placeholder="Selecione o Produto" aria-label="Number" matInput
                    [formControl]="myControl" [matAutocomplete]="auto" required>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="div-row-input">
            <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>Quantidade</mat-label>
                <input type="number" matInput #input id="quantity" placeholder="Ex. 10" required="true">
            </mat-form-field>
        </div>

        <div class="div-row-input">
            <mat-form-field appearance="fill" class="col-sm-6" floatLabel="always">
                <mat-label>R$ Unitário</mat-label>
                <input matInput #input id="totalUnityValue" placeholder="0,00" required="true" readonly="true"
                    placeholder="0,00" mask="separator.2" [thousandSeparator]="'.'"
                    [decimalMarker]="','">
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-sm-6" floatLabel="always">
                <mat-label>R$ Total</mat-label>
                <input matInput #input id="amount" placeholder="0,00" required="true" readonly="true" placeholder="0,00"
                    mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="','">
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="div-row-input mt-3">
            <mat-form-field appearance="fill" class="col-sm-12">
                <mat-label>Lote</mat-label>
                <input matInput #input id="batch" placeholder="Ex. A1B2C3" required="true">
            </mat-form-field>
        </div>

        <div class="div-row-input">
            <mat-form-field appearance="fill" class="col-sm-12">
                <mat-label>Fabricante</mat-label>
                <input matInput #input id="manufacturerId" placeholder="Ex. Fluarix" required="true">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="div-row-input">
            <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>Data de Fabricação</mat-label>
                <input matInput [matDatepicker]="picker" id="batchManufacturingDate" required="true"
                    ng-model="cad.batchManufacturingDate" mask="00/00/0009">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>Data de Validade</mat-label>
                <input matInput [matDatepicker]="picker2" id="batchExpirationDate" required="true"
                    ng-model="cad.batchExpirationDate" mask="00/00/0009">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button cdkFocusInitial class="create-button">Salvar</button>
</mat-dialog-actions>