<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <app-container containerTitle="Movimentar Estoque" containerPath="Estoque" [information]="informationField">
            <mat-tab-group>
                <mat-tab label="Pesquisa"> 
                    <app-movimentar-estoque-pesquisa></app-movimentar-estoque-pesquisa>
                </mat-tab>
                <mat-tab label="Movimento">
                    <app-movimentar-estoque-cadastro></app-movimentar-estoque-cadastro>
                </mat-tab>
            </mat-tab-group>
        </app-container>
    </div>
</div>