<section id="center" class="section-main">
    <div class="flex-1 is-content">
        <div class="is-section-datail-header">
            <div class="d-flex is-container-header-section">
                <h1 class="is-section-detail-header-title" id="title">Título</h1>
                <div class="is-path-page" title="Caminho no Sistema">( Caminho / Caminho )</div>
            </div>
        </div>
        <div class="is-section-content">
            <div class="is-card is-card-default-content">
                <div class="is-card-body">

                </div>
            </div>
        </div>
    </div>
    <footer class="is-footer">
        <p class="is-author">
            © My Company - 2022
        </p>
        <div class="is-footer-actions">
            <p>
                <span class="fa fa-user pe-1"></span>
                <span>

                </span>
                <span>
                    usuario@exemplo.com.br
                </span>
            </p>
        </div>
    </footer>
</section>