<form>
    <div class="registration-group">
        <div class="offset-sm-1 col-sm-11 p-0">
            <div class="div-row-input">
                <mat-form-field appearance="fill" class="col-sm-11">
                    <mat-label>Pessoa</mat-label>
                    <input type="text" id="personId" placeholder="Selecione a Pessoa Jurídica" aria-label="Number"
                        matInput [formControl]="myControl" [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.Name">
                            {{option.Name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>

            <div class="div-row-input">
                <mat-form-field class="example-full-width" appearance="fill" class="col-sm-11">
                    <mat-label>Detalhes</mat-label>
                    <textarea matInput placeholder="Informações complementares" id="details"></textarea>
                </mat-form-field>
            </div>

            <div class="div-row-input registration-button-row">
                <button mat-raised-button class="create-button"><span class="fa-solid fa-floppy-disk me-1 w-20px"></span><span>Salvar</span></button>
                <button mat-raised-button color="warn"><span class="fa-solid fa-trash me-1 w-20px"></span><span>Excluir</span></button>
            </div>

        </div>
    </div>
</form>