<form>
  <div class="registration-group">
    <div class="offset-sm-1 col-sm-11 p-0">
      <div class="div-row-input">
          <mat-form-field appearance="fill" class="col-sm-6">
            <mat-label>Usuário</mat-label>
            <input matInput #input maxlength="10" placeholder="Ex. Pedro Auberto" id="userName" required="true">
          </mat-form-field>
        <mat-form-field appearance="fill" class="col-sm-4 ml-0" placeholder="Selecione a pessoa">
          <mat-label>Pessoa</mat-label>
            <input matInput #input maxlength="10" placeholder="Selecione a pessoa" id="person" required="true">
        </mat-form-field>

        <button class="search-button" mat-icon-button id="add-phone-btn" aria-label="Search button" matTooltip="Pesquisar" matTooltipPosition="above">
          <mat-icon>search</mat-icon>
        </button>
        <button class="edit-button" mat-icon-button id="add-phone-btn" aria-label="Search button" matTooltip="Pesquisar" matTooltipPosition="above">
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <div class="div-row-input">
        <mat-form-field appearance="fill" class="col-sm-11">
          <mat-label>E-mail</mat-label>
          <input matInput #input maxlength="10" placeholder="email@exemplo.com.br" id="email">
        </mat-form-field>
      </div>

      <div class="div-row-input">
        <mat-form-field appearance="fill" class="col-sm-6">
            <mat-label>Senha</mat-label>
            <input matInput #input maxlength="10" placeholder="Informe uma senha" id="person" required="true">
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-sm-5 ml-0">
            <mat-label>Confirmação</mat-label>
            <input matInput #input maxlength="10" placeholder="Confirme sua senha" id="person" required="true">
        </mat-form-field>
      </div>

      <div class="div-row-input registration-button-row">
        <button class="create-button" mat-raised-button>Criar</button>
        <button mat-raised-button color="warn">Desativar</button>
        <button mat-raised-button color="primary">Redefinir Senha</button>
      </div>

    </div>
  </div>
</form>
