<form>
  <div class="registration-group">
    <div class="offset-sm-1 col-sm-11 p-0">
      <div class="div-row-input">
        <mat-form-field appearance="fill" class="col-sm-11">
          <mat-label>Usuário</mat-label>
          <input type="text" id="personId" placeholder="Selecione o Usuário" aria-label="Number" matInput
            [formControl]="myControl" [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div class="div-row-input">
        <mat-form-field appearance="fill" class="col-sm-11">
          <mat-label>E-mail</mat-label>
          <input matInput #input maxlength="255" placeholder="email@exemplo.com.br" id="email" required="true">
        </mat-form-field>
      </div>

      <div class="div-row-input">
        <mat-form-field appearance="fill" class="col-sm-6">
            <mat-label>Função</mat-label>
            <mat-select id="userFunction" required="true">
                <mat-option value="S" selected>Administrador</mat-option>
                <mat-option value="A" selected>Aplicador</mat-option>
                <mat-option value="G" selected>Gerente</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

      <div class="div-row-input">
        <mat-form-field appearance="fill" class="col-sm-6">
            <mat-label>Situação</mat-label>
            <mat-select id="situation" required="true">
                <mat-option value="A" selected>Ativo</mat-option>
                <mat-option value="I">Inativo</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

      <div class="div-row-input">
        <mat-form-field appearance="fill" class="col-sm-6">
          <mat-label>Senha</mat-label>
          <input type="password" matInput #input maxlength="255" placeholder="Informe uma senha" id="password"
            required="true">
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-sm-5 ml-0">
          <mat-label>Confirmação de Senha</mat-label>
          <input type="password" matInput #input maxlength="255" placeholder="Confirme sua senha" id="confirm"
            required="true">
        </mat-form-field>
      </div>
      <div class="div-row-input registration-button-row">
        <button mat-raised-button class="create-button"><span class="fa-solid fa-floppy-disk me-1 w-20px"></span><span>Criar</span></button>
        <button mat-raised-button class="create-button"><span class="fa-solid fa-user-check me-1 w-20px"></span><span>Ativar</span></button>
        <button mat-raised-button color="warn"><span class="fa-solid fa-user-slash me-1 w-20px"></span><span>Desativar</span></button>
        <button mat-raised-button color="primary"><span class="fa-solid fa-retweet me-1 w-20px"></span><span>Redefinir Senha</span></button>
      </div>
    </div>
  </div>
</form>