<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <app-container containerTitle="Empresa" containerPath="Gerencial / Empresa">
            <mat-tab-group>
                <mat-tab label="Pesquisa">
                    <app-empresa-pesquisa></app-empresa-pesquisa>
                </mat-tab>
                <mat-tab label="Cadastro">
                    <app-empresa-cadastro></app-empresa-cadastro>
                </mat-tab>
                <mat-tab label="Parâmetros">
                    <app-empresa-parametros></app-empresa-parametros>
                </mat-tab>
                <mat-tab label="Agenda">
                    <app-empresa-agenda></app-empresa-agenda>
                </mat-tab>
            </mat-tab-group>
        </app-container>
    </div>
</div>