<div class="d-flex">
    <app-side-menu></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-toolbar></app-toolbar>
        <app-container containerTitle="Empresa" containerPath="Gerencial / Empresa">
            <mat-tab-group>
                <mat-tab label="Pesquisa"> Pesquisa </mat-tab>
                <mat-tab label="Cadastro"> Cadastro </mat-tab>
                <mat-tab label="Parâmetros"> Parâmetros </mat-tab>
                <mat-tab label="Agenda"> Agenda </mat-tab>
              </mat-tab-group>
        </app-container>
    </div>
</div>