:host ::ng-deep .mat-tab-body-wrapper {
    height: 100% !important;
}

:host ::ng-deep .mat-tab-group {
    height: 100% !important;
}

.float-btn {
    z-index: 100;
    position: absolute;
    bottom: 24px;
    right: 36px;
}

.search-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 2rem;
}

.mat-button-entry {
  margin-bottom: 0px !important;
  align-self: center !important;
}

.parameter-group {
  font-size: 14px;
}
