<h2 mat-dialog-title>Horário</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="CompanyScheduleForm">
        <mat-form-field appearance="fill" class="col-sm-12">
            <mat-label>Dia</mat-label>
            <mat-select formControlName="Day" #DayInput [(ngModel)]="Day" required>
                <mat-option value="SEG">Segunda</mat-option>
                <mat-option value="TER">Terça</mat-option>
                <mat-option value="QUA">Quarta</mat-option>
                <mat-option value="QUI">Quinta</mat-option>
                <mat-option value="SEX">Sexta</mat-option>
                <mat-option value="SAB">Sábado</mat-option>
                <mat-option value="DOM">Domingo</mat-option>
            </mat-select>
            <mat-error *ngIf="CompanyScheduleForm.controls.Day.touched && CompanyScheduleForm.controls.Day.invalid">
                <span *ngIf="CompanyScheduleForm.controls.Day.errors?.required">O Dia é obrigatório.</span>
            </mat-error>
        </mat-form-field>

        <div class="div-row-input">
            <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>Horário Inicial</mat-label>
                <input type="time" 
                       matInput 
                       formControlName="StartTime" 
                       id="StartTime" 
                       [(ngModel)]="StartTime"
                       required>
                <mat-error *ngIf="CompanyScheduleForm.controls.StartTime.touched && CompanyScheduleForm.controls.StartTime.invalid">
                    <span *ngIf="CompanyScheduleForm.controls.StartTime.errors?.required">O Horario Inicial é obrigatório.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>Horário Final</mat-label>
                <input 
                    type="time" 
                    matInput 
                    formControlName="FinalTime" 
                    id="FinalTime" 
                    [(ngModel)]="FinalTime"
                    required="true">
                <mat-error *ngIf="CompanyScheduleForm.controls.FinalTime.touched && CompanyScheduleForm.controls.FinalTime.invalid">
                    <span *ngIf="CompanyScheduleForm.controls.FinalTime.errors?.required">O Horario Final é obrigatório.</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="primary" cdkFocusInitial>Cancelar</button>
    <button class="create-button" mat-flat-button (click)="updateCompanySchedule()">Salvar</button>
</mat-dialog-actions>